@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
span {
  font-size: 1.125rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 150vh;
  width: 100%;
  padding-bottom: 200vh;
}
.container .wordtext {
  display: flex;
  flex-wrap: wrap;
}
.wordtext > p {
  background: grey;
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: 3vw;
  font-size: 3.87rem;
  margin-bottom: -80px;
  font-weight: bolder;
  transition: 0.2s background linear;
}
@media screen and (max-width: 760px) {
  .wordtext > p {
    font-size: 2rem;
    margin-bottom: -50px;
  }
  .container {
    padding-bottom: 300vh;
  }
}
